
@font-face {
	font-family: 'Cascadia Mono';
	src: url($Cascadia-Code) format("woff2");
	// font-weight: bold;
	font-style: normal;
}

$body-color: #afafaf;
$infragelb: #f4c400;
$list-background: change-color($color: #536169, $alpha: 0.41);

// TODO: Increase contrast on blockquotes. Something like #332b17 as BG color could work

body {
	font-family: 'Cascadia Mono';
	background-color: $secondary;
}
html {
	color: $body-color;
}

.cooked {
	ul {
		list-style: none;
		padding-left: 1.2rem;
	}

	ul li:before {
		content: "* ";
	}
	.poll li:before {
		content: "";
	}
}

.user-menu .quick-access-panel li:hover,
.menu-panel li a.widget-link:hover {
	background-color: $list-background;
}

.docked .d-header {
	background-color: change-color($color: $secondary, $alpha: 0.5);

	backdrop-filter: blur(10px);

	box-shadow: none;
	border-bottom: 4px solid #2e2500;
}

.d-header-icons .d-icon {
	// color: $transparent-infragelb;
}

.composer-popup {
	background: $secondary;
	color: #44af44;
	border: 4px solid $infragelb;
}

.post-retort {
	background: none;
	border: none;
	padding: 0;
	display: flex;
	align-items: flex-start;

	.post-retort__count {
		color: #b3b3b3;
		font-size: 1.1487em;
		padding: 8px 10px;
		order: 1;
		margin-right: -12px;
		font-weight: normal;
		bottom: 0;
		left: 0;
	}

	img {
		padding: 8px;
		margin: 0 2px;
		order: 2;
	}
}
.private-message > .reply-area:before {
	color: #d0a800;
	background-color: rgba(185, 0, 0, 0.65);
}
